:root {
  /* 字體設定 */
  --my-font-family-primary: "Roboto", sans-serif;

  /* 字體大小層級 */
  --my-font-size-sm: 1rem; /* 16px - 基準大小 */
  --my-font-size-lg: 2rem; /* 32px */

  /* 字寬 */
  --my-letter-spacing: 0.2px;

  /* 字重 */
  --my-font-weight-xs: 200;
  --my-font-weight-sm: 300;
  --my-font-weight-md: 400;
  --my-font-weight-lg: 500;
  --my-font-weight-xl: 600;

  /* Gray 層級顏色 */
  --my-color-white: #ffffff;
  --my-color-gray-50: #fafafa;
  --my-color-gray-100: #f5f5f5;
  --my-color-gray-200: #eeeeee;
  --my-color-gray-300: #e0e0e0;
  --my-color-gray-400: #bdbdbd;
  --my-color-gray-500: #9e9e9e;
  --my-color-gray-600: #757575;
  --my-color-gray-700: #616161;
  --my-color-gray-800: #424242;
  --my-color-gray-900: #212121;
  --my-color-black: #000000;

  /* 地圖國家顏色 (Map Country Colors) */
  --map-country-participant: #e60012; /* 參與國家：紅色 */
  --map-country-withdrawn: #0068b7; /* 退出國家：藍色 */
  --map-country-non-participant: #d2d7da; /* 未參與國家：灰色 */
  --map-country-other: #ffffff; /* 其他國家：白色 */
  --map-country-border: #ffffff; /* 國家邊框：白色 */
  --map-background: var(--my-color-gray-200); /* 地圖背景（海洋）：#eeeeee */
  --map-country-hover: #c0c0c0; /* 懸停顏色：灰色 */
}
